<!DOCTYPE html>

<hmtl lang = 'es'>
    <head>
        <meta charset = 'utf8'>
        <link rel="stylesheet" href="/static/style.css">       
        <!-- url_for() Flask-etik datorren zeozer da, fitxategiak kargatzeko-->
        <title>Νέμεσις</title>
        <!--turbo() balioak momentuan eguneratzeko, turbo.js fitxategia hasiarazteko plantila hau hasieratzean -->
        {{ turbo() }}
    </head>
    <body>
        <header>
            <h1>Νέμεσις</h1>
        </header>

        <nav>       
            <ul>
                <li><a href="/">Intro</a></li>
                <li><a href="/gui">GUI</a></li>
                <li><a href="/showdata">Data</a></li>
                <li><a href="/cmdprompt">CMD Prompt</a></li>
                <li><a href="/login">Login</a></li>     
                <!-- Honekin lortzen dugu gauden helbideari azkenean hau gehitzea, app-en definitu dugun beste zatira pasatzeko-->
                <!-- Ikusi behar dugu nola jarri goikoa politago -->
            </ul>
        </nav>

        <article>
            <h2>CMD Prompt</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium recusandae aliquid obcaecati. Sequi odit repellendus earum incidunt, 
                ex quo eos quae fugit voluptas deserunt voluptatem quibusdam consectetur. Voluptates, nesciunt sapiente.</p>
        </article>

        {% include "data.html.jinja" %}
        {% block content %}{% endblock %}
    </body>
</hmtl>