{% extends 'core.html.jinja' %}

{% block content %}

<article>
            <h2>CMD Prompt</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium recusandae aliquid obcaecati. Sequi odit repellendus earum incidunt, 
                ex quo eos quae fugit voluptas deserunt voluptatem quibusdam consectetur. Voluptates, nesciunt sapiente.</p>
        </article>

        <article class='prompt'>
            <form action='/cmdprompt' method='POST'>
                <label for='cmd'>  ~ cmd: </label>
                <input type = 'text' name = '~ cmd' class='prompt_input' />
                <input type='submit' value='Submit' hidden/>
            </form>
        
            <!-- Hau da idatzi ditugun komandoak jartzeko -->
            <!-- Sartu dugun "cmd" komandotik "kerneli" pasatzen diogu eta honi buruzko informazioa bueltatzen digu debugari egin diogun deiketatik-->

            {% if cmd_data%}
                <!--<p> executed: {{cmd_id}}</p>-->
                <p> {{message}}</p>
            {% endif %}

            {% if cmd_id and value == HELP %}
                {% block help %}{% endblock %}
            {% endif %}

            {% if error %}
                <p> An error has occurred: {{error}}</p>
            {% endif %}
</article>

{% endblock %}