<!DOCTYPE html>

<hmtl lang = "es">
    <head>
        <meta charset = "utf8">
        <link rel="stylesheet" href="/static/style.css">       
        <!-- url_for() Flask-etik datorren zeozer da, fitxategiak kargatzeko-->
        <link rel="icon" type="image/png" href="nemesis_logo.png" />
        <title>Νέμεσις</title>
        <!--turbo() balioak momentuan eguneratzeko, turbo.js fitxategia hasiarazteko plantila hau hasieratzean -->
        <meta name="turbo-root" content="/app">
    </head>

    <body>
        <header>
            <h1>Νέμεσις</h1>
        </header>

        <nav>       
            <ul>
                <li><a href="/">Intro</a></li>
                <li><a href="/gui">GUI</a></li>
                <li><a href="http://localhost:9090/targets" target='_blank'>Data</a></li>
                <!-- <li><a href="/showdata">Data</a></li> -->
                <li><a href="/cmdprompt">CMD Prompt</a></li>
                <li><a href="/login">Login</a></li>     
                <!-- Honekin lortzen dugu gauden helbideari azkenean hau gehitzea, app-en definitu dugun beste zatira pasatzeko-->
                <!-- Ikusi behar dugu nola jarri goikoa politago -->
            </ul>
        </nav>

        <article>
            <div class='content'>
                {% block content %}{% endblock %}
            </div>
        </article>

    </body>
</hmtl>