{% extends 'core.html.jinja' %}

{% block content %}

        <article>
            <h2>CMD Prompt</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium recusandae aliquid obcaecati. Sequi odit repellendus earum incidunt, 
                ex quo eos quae fugit voluptas deserunt voluptatem quibusdam consectetur. Voluptates, nesciunt sapiente.</p>
        </article>

        <!-- ONDO LEGOKE BEHEKOA PESTAÑAK BEZALA JARTZEA, DESPLEGABLEAK-->

        <!-- EMQX Brokerraren GAUZAK -->
        <article class='input'>
            
            <h2>EMQX Brokerra</h2>
            <p>Honekin hostean EMQX Broker bat sortuko dugu, izen arrunt bat jarriz eta 
            portua zenbaki arrunt baten formatuarekin.</p>

            <form action='/gui' method='POST'>

                <p>
                <label for='emqx_container_name'>  EMQX Container name: </label>
                <input type = 'text' name = 'emqx_container_name' />
                </p>

                <p>
                <label for='emqx_container_port'>EMQX Container port:  </label>
                <input type = 'text' name = 'emqx_container_port'/>
                </p>

                <p><input type='submit' value='Start EMQX container'/></p>
            </form>

        </article>

        <!-- MongoDBren GAUZAK -->

        <article class='input'>

            <h2>MongoDB kontainerra</h2>
            <p>Honekin hostean MongoDB kontainer bat sortuko dugu, izen arrunt bat jarriz.</p>

            <form action='/gui' method='POST'>

                <p>
                <label for='mongo_container_name'>  MongoDB container name: </label>
                <input type = 'text' name = 'mongo_container_name' />
                </p>

                <p>
                <label for='mongo_container_port'> MongoDB container port:  </label>
                <input type = 'text' name = 'mongo_container_port'/>
                </p>

                <p><input type='submit' value='Start MongoDB'/></p>
            </form>
        </article>

        <!-- Hermesen GAUZAK -->
        <article class='input'>
            
            <h2>Hermes (MMA) kontainerra</h2>
            <p>Honekin hostean MongoDB kontainer bat sortuko dugu, izen arrunt bat jarriz.</p>

            <form action='/gui' method='POST'>

                <p>
                <label for='hermes_container_name'>  Hermes container name: </label>
                <input type = 'text' name = 'hermes_container_name' />

                </p>
                <label for='hermes_container_port'> Hermes container port:  </label>
                <input type = 'text' name = 'hermes_container_port'/>
                </p>

                </p>
                <label for='hermes_client_name'> Hermes client name:  </label>
                <input type = 'text' name = 'hermes_client_name'/>
                </p>

                </p>
                <label for='hermes_session_type'> Hermes session type:  </label>
                <input type = 'text' name = 'hermes_session_type'/>
                </p>

                </p>
                <label for='hermes_user_data'> Hermes user data:  </label>
                <input type = 'text' name = 'hermes_user_data'/>
                </p>

                </p>
                <label for='hermes_transport_form'> Hermes transport form:  </label>
                <input type = 'text' name = 'hermes_transport_form'/>
                </p>

                </p>
                <label for='hermes_mqtt_broker'> Hermes mqtt broker:  </label>
                <input type = 'text' name = 'hermes_mqtt_broker'/>
                </p>

                </p>
                <label for='hermes_mqtt_port'> Hermes mqtt port:  </label>
                <input type = 'text' name = 'hermes_mqtt_port'/>
                </p>

                </p>
                <label for='hermes_keep_alive'> Hermes keep alive time:  </label>
                <input type = 'text' name = 'hermes_keep_alive'/>
                </p>

                </p>
                <label for='hermes_bind_address'> Hermes bind address:  </label>
                <input type = 'text' name = 'hermes_bind_address'/>
                </p>

                </p>
                <label for='hermes_loop_time'> Hermes client loop time:  </label>
                <input type = 'text' name = 'hermes_loop_time'/>
                </p>

                </p>
                <label for='hermes_sub_list'> Hermes client subscription list:  </label>
                <input type = 'text' name = 'hermes_sub_list'/>
                </p>

                </p>
                <label for='hermes_mongo_url'> Hermes client MongoDB url:  </label>
                <input type = 'text' name = 'hermes_mongo_url'/>
                </p>

                </p>
                <label for='hermes_mongo_port'> Hermes client MongoDB port:  </label>
                <input type = 'text' name = 'hermes_mongo_port'/>
                </p>

                </p>
                <label for='hermes_mongo_user'> Hermes client MongoDB user:  </label>
                <input type = 'text' name = 'hermes_mongo_user'/>
                </p>

                </p>
                <label for='hermes_mongo_password'> Hermes client MongoDB password:  </label>
                <input type = 'text' name = 'hermes_mongo_password'/>
                </p>

                <p><input type='submit' value='Start Hermes'/></p>
            </form>
        </article>
{% endblock %}