{% extends 'core.html.jinja' %}

{% block content %}

    <article>
            <h2>About the aplication</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius esse molestiae blanditiis nam velit eligendi nihil, 
                beatae eveniet exercitationem illum? Harum eum inventore non pariatur dolores, fuga ex eaque ducimus.</p>
    </article>
    
{% endblock %}