{% extends 'core.html.jinja' %}

{% block content %}
        <article>
            <form action='/login' method='POST'>
                <p>
                <label for='Username'>  Username: </label>
                <input type = 'text' name = 'username' />
                </p>
                <p>
                <label for='Password'> Password:  </label>
                <input type = 'text' name = 'password'/>
                </p>
                <input type='submit' value='Submit'/>
            </form>
        </article>

        <article>
            {% if username %}
                <p> Welcome back {{username}}! Glad to see you again.</p>
            {% endif %}
        </article>
{% endblock %}