<!DOCTYPE html>

<hmtl lang = 'es'>
    <head>
        <meta charset = 'utf8'>
        <link rel="stylesheet" href="/static/style.css">       
        <!-- url_for() Flask-etik datorren zeozer da, fitxategiak kargatzeko-->
        <title>Νέμεσις</title>
        <!--turbo() balioak momentuan eguneratzeko, turbo.js fitxategia hasiarazteko plantila hau hasieratzean -->
    </head>
    <body>
        <header>
            <h1>Νέμεσις</h1>
        </header>

        <nav>       
           <ul>
                <li><a href="/">Intro</a></li>
                <li><a href="/gui">GUI</a></li>
                <li><a href="/showdata">Data</a></li>
                <li><a href="/cmdprompt">CMD Prompt</a></li>
                <li><a href="/login">Login</a></li>     
                <!-- Honekin lortzen dugu gauden helbideari azkenean hau gehitzea, app-en definitu dugun beste zatira pasatzeko-->
                <!-- Ikusi behar dugu nola jarri goikoa politago -->
            </ul>
        </nav>

        <article>
            <form action='/login' method='POST'>
                <p>
                <label for='Username'>  Username: </label>
                <input type = 'text' name = 'username' />
                </p>
                <p>
                <label for='Password'> Password:  </label>
                <input type = 'text' name = 'password'/>
                </p>
                <input type='submit' value='Submit'/>
            </form>
        </article>

        <article>
            {% if username %}
                <p> Welcome back {{username}}! Glad to see you again.</p>
            {% endif %}
        </article>

    </body>
</hmtl>