{% extends 'core.html.jinja' %}

{% block content %}

<article>
    <h2>CMD Prompt</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium recusandae aliquid obcaecati. Sequi odit repellendus earum incidunt, 
    ex quo eos quae fugit voluptas deserunt voluptatem quibusdam consectetur. Voluptates, nesciunt sapiente.</p>
</article>

<script>
    <!--
        function timedRefresh(timeoutPeriod){
            setTimeout("location.reload(true);", timeoutPeriod);
        }   

        window.onload = timedRefresh(1500);
        window.onload = timedRefresh(1500);
    // -->
</script>

{% include "data.html.jinja" %}
{% block content_data %}{% endblock %}

{% endblock %}